{% extends "vorlagen/main.html" %}
{% block content %}

<header class="header">
        <div class="header-content">
        </div>
</header>

<main class="body-content">
    <section class="intro gruen">
        <p>Hier erscheinen bald Deine persönlichen Lernziele und Deine Fortschrittsanzeige...!</p>
    </section>

    <div class="boxen-system" name="ziele">
        <div class="box hellblau">
            <div class="box-headline blau">
                <h3>Ziel 1</h3>
            </div>
            <div class="box box-content">
                <p>Platzhalter</p>
            </div>
        </div>
        <div class="box hellblau">
            <div class="box-headline orange">
                <h3>Ziel 2</h3>
            </div>
            <div class="box box-content">
                <p>Platzhalter</p>
            </div>
        </div>
        <div class="box hellblau">
            <div class="box-headline lila">
                <h3>Ziel 3</h3>
            </div>
            <div class="box box-content">
                <p>Platzhalter</p>
            </div>
        </div>
        <div class="box hellblau">
            <div class="box-headline akzentgruen">
                <h3>Ziel 4</h3>
            </div>
            <div class="box box-content">
                <p>Platzhalter</p>
            </div>
        </div>
    </div>

    <div class="boxen-system" name="fortschritt">
        <div class="box hellblau">
            <div class="box-headline akzentblau">
                <h3>Fortschrittsanzeige</h3>
            </div>
            <div class="box box-content">
                <p>Platzhalter 1</p>
                <p>Platzhalter 2</p>
                <p>Platzhalter 3</p>
                <p>Platzhalter 4</p>
                <p>Platzhalter 5</p>
            </div>
        </div>
    </div>

</main>


{% endblock %}