{% extends "vorlagen/main.html" %}
{% block content %}

<header class="header gruen">
    <div class="header-content">
        <h1>FAQ - Häufig gestellte Fragen</h1>
        <h4>
            Hier ist die Sammlung von Fragen und Antworten zu unserer Plattform.
            Du bist nicht allein mit deinen Fragen, andere hatten bereits denselben Gedanken!
        </h4>
    </div>
    <img src="../static/pictures/Friends_chatting_online_through_internet-removebg-preview.png" alt="Chatten" height="350px" width="400px" class="header-img">
</header>

<div class="body-content">
    <div class="boxen-system hellblau">
        <div class="box faq akzentblau" name="box1">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Was ist der Zweck dieser Webseite?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau"><p>Der digitale Brieffreund ist ein interaktives Lernprogramm, das dir hilft, deine Englischkenntnisse durch tägliche Konversationen zu verbessern. Der digitale Brieffreund soll dir wie ein normaler Freund, mit dem du auf WhatsApp schreibst, beim Englischlernen helfen. Rede mit ihm über deinen Tag oder was ansteht, und er gibt die Antworten, Tipps oder erzählt auch mal einen Witz, wie ein richtiger Freund. Dabei passt er sich deinem Sprachniveau an und versucht dir zu helfen, dich zu verbessern, indem er auch Korrekturen von deinem Geschriebenen anbietet. Jedes Wort im Chat kann einfach nachgeschlagen werden und vieles mehr…</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="boxen-system hellblau">
        <div class="box faq akzentblau" name="box2">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Wie kann ich mich auf der Webseite registrieren?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau">Um sich zu registrieren, klicken Sie auf den "Registrieren"-Button oben rechts auf der Seite. Geben Sie Ihre E-Mail-Adresse und ein Passwort ein, und folgen Sie den Anweisungen zur Bestätigung Ihrer Registrierung.</div>
                </div>
            </div>
        </div>

        <div class="box faq akzentblau" name="box3">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Wie kann ich mein Passwort zurücksetzen?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau">Wenn Sie Ihr Passwort vergessen haben, klicken Sie auf den Link "Passwort vergessen?" auf der Anmeldeseite. Geben Sie Ihre E-Mail-Adresse ein, und Sie erhalten Anweisungen zum Zurücksetzen Ihres Passworts.</div>
                </div>
            </div>
        </div>

        <div class="box faq akzentblau" name="box4">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Auf wie vielen Geräten kann ich den Digitalen Brieffreund nutzen?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau">Den digitalen Brieffreund kannst du auf mehreren Geräten gleichzeitig nutzen, solange du mit demselben Benutzerkonto angemeldet bist. So kannst du flexibel zwischen deinem Computer, Tablet oder Smartphone wechseln und dein Englischlernen nahtlos fortsetzen.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxen-system hellblau">
        <div class="box faq akzentblau" name="box5">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Ist der digitale Brieffreund auch für Anfänger geeignet?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau">Ja, der digitale Brieffreund ist für alle Niveaus geeignet, da er sich anhand des Sprachtests an das individuelle Sprachniveau anpasst. Und sobald deine Fähigkeiten zunehmen kannst du mit einem weiteren Brieffreund chatten, der ein höheres Sprachlevel verwendet. Du entwickelst dich auf diese Weise stetig weiter.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxen-system hellblau">
        <div class="box faq akzentblau" name="box6">
            <div class="dropdown faqinnen">
                <div class="headline item">
                    <h4>Wie funktioniert das personalisierte Chat-Erlebnis?</h4>
                </div>
                <div class="dropdown-content">
                    <div class="box-content hellblau">Du chattest mit einem digitalen Brieffreund, der sich auf einem ähnlichen Sprachstil und Niveau befindet. DIeser hilft dir dabei, dich kontinuierlich zu verbessern, indem er auf deine Antworten eingeht und dir hilfreiche Hinweise gibt.</div>
                </div>
            </div>
        </div>
    </div>




</div>

{% endblock %}



