{% extends "vorlagen/main.html" %}
{% block content %}

<header class="header hellblau">
        <div class="header-content">
            <h1>Englisch lernen leicht gemacht - Mit deinem digitalen Brieffreund</h1>
            <p>Mit dem digitalen Brieffreund fühlt sich Lernen gar nicht mehr wie lernen an</p>
            <button onclick="window.location.href = '/regist';" class="button gruen">Beginne jetzt</button>
        </div>
        <img src="../static/pictures/chat.png" alt="Chatten" height="250px" width="300px" class="header_image">
</header>

    <main class="body-content">
        <section class="intro">
            <h3>Lass Englischlernen zu einem unterhaltsamen Erlebnis werden, das Spaß macht und motiviert</h3>
            <h4>Rede über deinen Tag und aktuelle Themen, um kontinuierlich deine Sprachfähigkeiten zu verbessern</h4>
        </section>

        <section class="boxen-system">
            <div class="box">
                <div class="box-headline gruen">
                    <h3>Personalisiertes Chat-Erlebnis</h3>
                </div>
                <div class="box-content">
                    <p>Dein individueller Brieffreund erkennt und korrigiert deine Fehler in Echtzeit und gibt Beispiele zur besseren Verständlichkeit. Erhalte hilfreiche Tipps zu Grammatik, Satzbau und Stil, um dein Englisch auf dein Zielniveau zu bringen.</p>
                </div>
            </div>

            <div class="box">
                <div class="box-headline orange">
                    <h3>Teste dein Sprachniveau</h3>
                </div>
                <div class="box-content">
                    <p>Der digitale Brieffreund passt sich deinem getesteten Sprachniveau an und fördert dich durch maßgeschneiderte Antworten und Tipps zu deinem gesetzten Ziel für dein Sprachniveau.</p>
                </div>
            </div>

            <div class="box">
                <div class="box-headline blau">
                    <h3>Übungen</h3>
                </div>
                <div class="box-content">
                    <p>Es bietet eine Vielzahl von Übungen der sprachlichen grammatikalischen und kulturellen Fähigkeiten.</p>
                </div>
            </div>
        </section>

        <section class="box-system">
            <div class="box-headline lila">
                <h3>Fortschrittsverfolgung</h3>
            </div>
            <div class="box-content">
                <p>Verfolge deinen Lernfortschritt</p>
                <p>über detaillierte Berichte und Statistiken, die zeigen,</p>
                <p>wie sich dein Sprachverständnis und deine Kommunikationsfähigkeiten</p>
                <p>entwickeln.</p>
            </div>
            <div class="box-content">
                <p>Platzhalter für Grafikvorschau</p>
            </div>
        </section>
    </main>
{% endblock %}


