{% extends "vorlagen/main.html" %}
{% block content %}

<header class="header hellblau">
  <div class="header-content">
      <h1>Willkommen auf unserer Plattform für digitale Brieffreundschaften!</h1>
  </div>
</header>

<body class="body-content">
  <div class="intro">
      <h4>
          <p>Unser Team besteht aus vier engagierten Personen,</p>
          <p>die gemeinsam an der Entwicklung und Umsetzung unserer Plattform arbeiten.</p>
      </h4>
  </div>
  <div class="boxen-system">
    <div class="box" name="box1">
      <div class="box-headline orange">
          <h3>Design</h3>
      </div>
      <div class="box-content">
          <h4>
              Wir sorgen dafür, dass die Benutzeroberfläche unserer Plattform intuitiv, modern und ansprechend
              gestaltet ist. Unser Fokus liegt darauf, die Benutzererfahrung so angenehm wie möglich zu gestalten.
          </h4>
      </div>
        <div class="profil-box">
              <img src="../static/pictures/profilbild.jpg" alt="Profilbild" class="profil">
              <img src="../static/pictures/profilbild.jpg" alt="Profilbild" class="profil">
          </div>
    </div>
    <div class="box" name="box2">
      <div class="box-headline gruen">
          <h3>Implementierung</h3>
      </div>
      <div class="box-content">
          <h4>
              In diesem Bereich setzen wir Ideen in die Praxis um. Von der technischen Umsetzung neuer Funktionen
              bis hin zur Fehlerbehebung – unser Ziel ist es, eine stabile und effiziente Plattform bereitzustellen,
              die zuverlässig funktioniert.
          </h4>
      </div>
            <div class="profil-box">
              <img src="../static/pictures/profilbild.jpg" alt="Profilbild" class="profil">
              <img src="../static/pictures/profilbild.jpg" alt="Profilbild" class="profil">
          </div>
    </div>
  </div>
  <div class="boxen-system">
      <div class="box" name="box3">
      <div class="box-headline blau">
          <h3>Entwicklung neuer Ideen</h3>
      </div>
      <div class="box-content">
          <h4>
              Wir hören auf unsere Nutzer und analysieren ständig neue Trends, um innovative Funktionen zu entwickeln,
              die das Erlebnis auf unserer Plattform verbessern.
          </h4>
      </div>
    </div>
  </div>

</body>

{% endblock %}



